<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="7.1.1" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Learning.CQRS.CommandBus.Messages" version="1.0.1.90" targetFramework="net452" />
  <package id="Learning.CQRS.Event" version="1.0.1.331" targetFramework="net452" />
  <package id="Learning.CQRS.Infrastructure" version="1.0.1.540" targetFramework="net452" />
</packages>